<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_00000033360_FarhanRaihan_AL.Properties.Settings.UAS_LABConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=UAS_LAB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="_00000033360_FarhanRaihan_AL.Properties.Settings.dbMahasiswaConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=dbMahasiswa;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>